.main-footer {
  background-color: $brandDark;
  color: $brandWhite;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-direction: column;
  .container {
    display: grid;
    grid-gap: 20px;
    justify-self: center;
    justify-content: center;
    align-items: end;
  }

  .copyright {
    margin-top: 20px;
      color: $brandWhite;      
      text-align: right;
      font-size: .8rem;
      padding:5px;
      font-family: $font-family-text;
      align-self: center;
  }
  @media (min-width: 800px) {
    .container {
      justify-self: center;
      grid-template-columns: repeat(4, minmax(200px, 1fr));      
      justify-content: center;
      align-items: end;
    }
    .full-row {
      grid-column: span 3;     
    }
  }
}
