$imageSize: 30px;
$navHeight: 50px;
.main-nav {
  background:none;
  z-index: 999;
  color: $brandWhite;
  top:0;
  position: fixed;
  width: 100vw;  
  font-weight: 700;
  display: flex;
  min-height: $navHeight;
  align-items: center;  
  .logo {  
    margin-left: 10px;    
    width:0;
    transform: translateY(-200%);
    transition: all .3s ease-in-out;
    opacity: 0;
    img {
      height: $imageSize;
      
    }
  }
  transition: all .3s ease-in;
  &.scrolled {
    background-color: $brandDark;
    
    .logo {
      width: $imageSize;    
      transform: translateY(0);
      opacity: 1;
      img {
        width: $imageSize;                   
      }
    }
  }

  .main-nav-items {
    flex: 1;
    display: flex;        
    margin: 0;
    padding: 0;    
    padding-left: 20px;
    padding-right: 20px;
    font-size: .9rem;
    top: 0;
    li {
      list-style: none;
      margin-right: 20px;
      
      flex: 1;
      display: flex;
      align-items: center;
      border-bottom: 1px solid rgba($brandOrange,0);
      a {        
        display: block;
        color: $brandWhite;
        text-decoration: none;
        text-align: center;
        width: 100%;     
        height: 100%;   
        padding: 2px;
      }
      &:hover {
        a {
          color: white;                    
        }
        border-bottom: 1px solid $brandWhite;
      }
      &.active {
        a {
          color: white;
        }
        border-bottom: 1px solid white;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
