.wrapper {
  display: grid;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
    -webkit-overflow-scrolling: touch;
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
  overflow: hidden;;

}

.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;
}
