.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "nav"
    "header"
    "content"
    "footer";
}

.main-head {
  grid-area: header;
}

.content {
  grid-area: content;
}

.main-nav {
  grid-area: nav;
}

.main-footer {
  grid-area: footer;
}
