@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Raleway:300,300i,400,400i,700');

$brandDark: #000015;
$brandOrange: #dd851b;
$brandBlue: #4b6cb7;
$brandWhite: rgba(white, 0.8);


$font-family-display: 'Playfair Display', serif;
$font-family-text: 'Raleway', sans-serif;
