html, body {
  font-size: 20px;   
}
@import "~bootstrap/scss/functions.scss";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins"; 

@import "_theme.scss";
@import "_form.scss";

@import "~bootstrap/scss/reboot"; 
@import "~bootstrap/scss/grid"; 
@import "~bootstrap/scss/utilities";

// components
@import "~bootstrap/scss/type"; 
@import "~bootstrap/scss/buttons"; 
@import "~bootstrap/scss/jumbotron"; 
@import "~bootstrap/scss/dropdown"; 

@import "typo";

// custom components
@import "header";
@import "buttons";

main {
  padding-top: 65px;
}

.direction-reverse {
  flex-direction: column-reverse;    

  @include media-breakpoint-up(md){
    flex-direction: row;
  }  
}

.text-image {
  display: flex;  
  justify-content:center;
  margin-bottom: 25px;
}

.red {
  .content {
    background-color: rgba(231, 123, 208, 0.438);
    height: 100px;
    width: 100%;
  }
}

.hero {
  @extend .jumbotron-fluid;  

  height: 465px;  
  padding-top: 65px;

  @include media-breakpoint-up(md){
    height: 400px;
  }

  background-color: $sol-info;

  .hero__content {
    display: flex;
    align-items: center;    
    justify-items: center;

    &--left {
      display: flex;
      align-items: center;    
      justify-content: center;
      padding: 0;
    }

    &--right {
      display: flex;
      flex-direction: column;
      align-items: center;    
      justify-items: center;
      align-content: center;
      justify-content: center;

    }

    .heroimg {
      width: 200px;
      @include media-breakpoint-up(md){
        width: 300px;
      }
    }
    @include media-breakpoint-between(xs,sm){
      .btn {
          @include button-size($input-btn-padding-y-sm, $input-btn-padding-x-sm, $font-size-sm, $line-height-sm, $btn-border-radius-sm);
      }
    }
    h1 {
      margin-top: 40px;
      font-weight: 200;
      
      font-size: 25px;
      color: $sol-white;
      text-align: center;
      letter-spacing: 0.73px;
      text-transform: uppercase;
      line-height: 15px;
      @include media-breakpoint-up(md){
        font-weight: 300;
        font-size: 35px;          
      }
    }
    h2 {
      margin-top: 0px;
      color: rgba($sol-white, 0.5);
      text-align: center;
      letter-spacing: -1px;      
      font-weight: 200;
      font-size: 25px;
      @include media-breakpoint-up(md){
        font-weight: 100;        
        font-size: 40px;
      }
    }    
  }
}



/*html, body {
    height: 100%;
    width:  100%;
    margin: 0;
    padding: 0;    
  background-color: #D7D2D2;//#262626;
    //background-color: #1f2021; //#262626;
    //background-color: #212121;
    color: rgba(255,255,255,0.73);
  }
  @import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');


  h1, h2, h3, h4 {
   // font-family: 'Oswald' ;
   font-weight: 300;
  }

  .section-header {
    
    margin-bottom: 55px;
    h1 {
      font-size: 50px;
    }
  }
.hero {
  @extend .jumbotron;
  background-image: url(../assets/hero2-lighter.png);
  background-image: url(../assets/happyppl.png);
  background-size: cover;
  background-position: center center;
  height: 400px;
  margin-bottom: 20px;
  //border-bottom:1px solid #404040;
padding:0;
  &__content {
    display: flex;
    //background-color: rgba(17, 17, 17, 0.514);
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Oswald' ;
    text-align: center;
    h2 {
      font-size:35px;
      color: rgba(255,255,255,0.73);
      margin-bottom: 10px;
      
    }
    h1 {
      font-size: 55px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.989);

      font-family: Krungthep;
font-size: 65px;
color: rgb(255, 216, 168); //#A021C6;
letter-spacing: 1.35px;
text-align: center;
text-shadow: -5px -3px 20px rgb(6, 6, 6);
    }
  }
}

.hero-fluid {
  @extend .jumbotron-fluid;
}



.bg-brand {
  background-color:#2A2A3C;// #141313;
 // border-bottom:1px solid rgba(255,255,255,0.2);
  transition: all 1s ease-out;
  transition: all 1s ease-out;
  background-color: rgba(255, 255, 255, 0.023);
  //background-image:linear-gradient(133deg, rgba(237, 235, 235, 0) 20%, #000015 68%);
  background-image: linear-gradient(133deg,#000015 20%, #DD851B 95%);
  top: 0;
  //border-bottom: 1px solid rgba(0, 0, 0, 0.098);  
  z-index: 900;
  box-shadow: -10px -10px 30px 0 rgba(255,255,255,0.70), 10px 9px 30px 0 rgba(0,0,0,0.30);
  .nav-link {
    color: red;
  }
}
.bg-brand-scroll {
  transition: all 1s ease-out;
  background-color: #000015;
  background-image: linear-gradient(133deg,#000015 20%, #DD851B 95%);
  //background-color: #141313;
  //background-color: #48285F;
  //border-bottom:1px solid rgba(255,255,255,0.2);
  //border-bottom:1px solid #40404025;
  top: 0;
  box-shadow: -10px -10px 30px 0 rgba(255,255,255,0.70), 10px 9px 30px 0 rgba(0,0,0,0.30);
}

.happyppl {
  @extend .jumbotron;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding:0;
  background-image: url(../assets/happyppl.png);
  background-size: cover;
  background-position: bottom center;
  height: 430px;
  font-family: 'Oswald' ;
  margin-top: 100px;
  margin-bottom: 20px;
  border-bottom:1px solid #404040;
   h1 {
    background-color: #141313c4;
    padding: 15px;

    margin:0;
   }

}


.soft {
  height: 100vh;
  width: 100vw;
  background-color: rgba(150, 147, 147, 0.301);
  .navbar-brand {
    background-color:none;
    .sol-icon {
      border: 1px solid green;
      box-shadow: 
     1rem 1rem 2rem rgba(0,0,0,.1),
    -1rem 1rem 2rem rgba(172, 71, 71, 0.5);
    }
  }


.hero {
  background:none;
}
  .bg-brand {
    background: none;
  }

}

.stone {    
  filter: drop-shadow(0 0 5px red);
}


.solutas-icon {  
    
    height: 35px;
    
}

.wave {
  width: 100vw;
  position: fixed;
  transition: all 0.5s ease-out;
  
  &.hide {
    //transform: translateY(-100%);
    opacity: 0;
  }
}

.besoft {
  background-image: linear-gradient(133deg, rgba(237,235,235,0.90) 0%, #D7D2D2 48%);
box-shadow: -10px -10px 30px 0 rgba(255,255,255,0.70), 10px 9px 30px 0 rgba(0,0,0,0.30);
border-radius: 5px;

padding: 50px;

font-family: HelveticaNeue;
font-size: 12px;
color: #1F2021;
letter-spacing: 0.25px;

}

.sol-btn {
  background: #D7D2D2;
box-shadow: 3px 3px 10px 0 rgba(0,0,0,0.30), -3px -2px 10px 0 rgba(255,251,251,0.75);
border-radius: 13.5px;
font-family: HelveticaNeue-Bold;
font-size: 12px;
color: rgba(0,0,0,0.66);
letter-spacing: 0.25px;
text-align: center;
padding: 10px;
margin-bottom: 20px;

&:hover {
  text-decoration: none;
  box-shadow: 4px 4px 10px 0 rgba(0,0,0,0.30), -2px -1px 10px 0 rgba(255,251,251,0.75);
}
 &.nav-link {
  background: none;
  margin-right: 20px;
  padding: 5px;
 }
}

*/